* {
  margin: 0px;
  padding: 0px;
}
.box {
  position: relative;
  width: 30%;
  padding: 15px 20px;
  box-shadow: 0px 5px 10px 0.1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  left: 300px;
  top: 200px;
}
.heading {
  margin: 10px 0;
}
.email {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  height: 30px;
}
.buttonbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0;
}
::placeholder {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
.cancel {
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.cancel,
.add {
  padding: 5px;
}
.add {
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 4px;
}
.options {
  float: right;
  position: relative;
  right: 500px;
  bottom:50px; 
}
.greendot,.reddot,.orangedot,.graydot{
  width:10px;
  height: 10px;
  border-radius: 50%;
  position:relative;
  top: 20px;
  right: 15px;
  
}
.greendot{
  background-color: green;
}
.reddot{
  background-color: red;
}
.orangedot{
  background-color: orange;
}
.graydot{
  background-color: gray;
}
.dropdown-menu{  
  box-shadow:  0px 5px 10px 0.1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border: none !important;
  border-radius: 10px !important;
  position: relative !important;
  top: 10px !important;
}