* {
  margin: 0px;
  padding: 0px;
}
.container {
  position: relative;
  width: 20%;
  padding: 15px 20px;
  box-shadow: 0px 0px 10px 0.1px rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  left: 300px;
  top: 200px;
}
.heading {
  margin: 10px 0;
}
.email {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  height: 30px;
}
.buttonbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0;
}
::placeholder {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
.cancel {
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.cancel,
.add {
  padding: 5px;
}
.add {
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 4px;
}
.options {
  float: right;
  position: relative;
  right: 500px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  width: 100px;
  font-size: 15px;
  padding:10px;
}